* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #e6e6e6;
    font-family: Arial;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #313131;
}

.container {
    display: flex;
    width: 100%;
    max-width: 900px;
}

header .logo, header .menu {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #c5c9cb;
}

.logo a {
    border: 3px solid #c5c9cb;
    font-size: 30px;
    padding: 8px;
    border-radius: 50%;
    color: #c5c9cb;
    text-decoration: none;
}

.logo a:hover{
    border: 3px solid #FFD700;
}

header .container {
    justify-content: space-between;
}

ul {
    display: flex;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul a {
    text-decoration: none;
    color: #c5c9cb;
    padding: 12px;
}

section {
    display: flex;
    justify-content: center;
}

#biography {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#biography .container div {
    padding: 15px;
    text-align: justify;
    font-size: 13px;
    font-family: 'Open Sans';
    color:	#616161;
}

#biography .container img {
    height: 500px;
}

#biography .container h1 {
    font-size: 35px;
    margin-bottom: 3px;
    color: #5e5e5e;
}

#biography .container h2 {
    font-size: 16px;
    color: #a6a6a6;
}

#biography .container h1, #biography .container h2{
    margin-top: 3px;
    font-family: 'Julius Sans One', sans-serif;
}

#biography .container div a {
    color: #5e5e5e;
}

#filmography .container {
    display: inline;
}

#filmography h1 {
    font-family: 'Julius Sans One', sans-serif;
    padding-bottom: 2px;
    padding-left: 0;
    max-width: 100%;
    border-bottom: 2px solid grey;
    color: #5e5e5e;
    margin-top: 3px;
    margin-left: 15px;
}

#filmography img {
    height: 200px;
    margin-right: 15px;
}

#filmography .movie {
    margin-left: 15px;
    display: flex;
    font-size: 12px;
    text-align: justify;
    color: #616161;
    font-family: 'Open Sans';
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#filmography .movie h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: 'Julius Sans One', sans-serif;
    color: #A6A6A6;
}